snippet cmain "Main function"
#include <stdio.h>

int main(){

    $0

    return 0;
}
endsnippet

snippet iscan "Scanf" b
scanf("$1", &$0);
endsnippet

snippet print "Printf" b
printf("$0");
endsnippet
